<div class="row">
  <div class="col col-sm-6">
    <p class="lead">{{componentInfo.title}} {{t('控件')}}</p>
  </div>
</div>
<div class="row">
  <div class="col col-sm-6">
    <div ref="editForm">
        {{editForm}}
    </div>
  </div>
  <div class="col col-sm-6">
    <div class="card panel preview-panel">
      <div class="card-header">
        <h4 class="card-title mb-0">{{t('预览')}}</h4>
      </div>
      <div class="card-body">
        <div class="component-preview" ref="preview">
          {{preview}}
        </div>
      </div>
    </div>
    <div style="margin-top: 10px;">
      <button class="btn btn-success" style="margin-right: 10px;" ref="saveButton">{{t('保存')}}</button>
      <button class="btn btn-secondary" style="margin-right: 10px;" ref="cancelButton">{{t('取消')}}</button>
      <button class="btn btn-danger" ref="removeButton">{{t('删除')}}</button>
    </div>
  </div>
</div>
